@font-face {
  font-family: "Luckiest Guy";
  src: url("./assets/LuckiestGuy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background: #000000;
  font-family: "Luckiest Guy", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#unity-container {
  width: 100vw;
  height: 100vh;
  position: absolute;

  display: flex;
  justify-content: center;
}

#unity-container.unity-desktop {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background: #000000;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;

  flex-direction: column;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 300ms ease, visibility 0s linear 300ms;
}

#unity-loading-bar.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 300ms ease, visibility 0s;
}

#unity-progress-bar-empty {
  width: 340px;
  height: 8px;

  margin: 0 auto;

  background: #222;
  border-radius: 5px;
  overflow: hidden;
}

#unity-progress-bar-full {
  width: 0%;
  height: 8px;

  background: #4c8df6;
  border-radius: 5px 0 0 5px;
}

#unity-title {
  margin-bottom: 12px;
  text-align: center;

  font-size: 48px;
  letter-spacing: 2px;
  color: #ffffff;

  user-select: none;
}

#unity-progress-text {
  margin-top: 8px;
  text-align: center;
  color: #fff;
  user-select: none;
}

#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#unity-fullscreen-button {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;

  width: 38px;
  height: 38px;
  cursor: pointer;
  background: url("./assets/fullscreen-button.png") no-repeat center / contain;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: #ffffff;
  padding: 10px;
  display: none;
}
